<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <!--
    https://www.mkyong.com/logging/logback-xml-example/
    -->
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <!--设置系统日志目录-->

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--记录阈值-->
        <!--<threshold>info</threshold>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 正在记录的日志文件的路径及文件名 -->
            <fileNamePattern>log/${application.name:-houkp}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 100MB, keep 31 days worth of history, but at most 30GB -->
            <maxFileSize>1MB</maxFileSize>
            <!-- 日志文件保留天数 -->
            <maxHistory>31</maxHistory>
            <totalSizeCap>30GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%d{HH:mm:ss} [${application.name:-houkp}] [%X{client_address}] [%X{request_id}] [%X{access_username}] [%thread] %-5level %logger{36}.%M-%L - %msg%n</Pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss} [${application.name:-houkp}] [%X{client_address}] [%X{request_id}] [%X{access_username}] [%thread] %-5level %logger{36}.%M-%L - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="com.houkp.recommended" level="DEBUG" />
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="org.springframework.context" level="WARN"/>
    <logger name="org.springframework.beans" level="WARN"/>

    <logger name="com.alibaba.druid" level="INFO" />
    <logger name="com.alibaba.fastjson" level="WARN" />

    <logger name="org.apache.http" level="debug"/>
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <!--<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />-->
    <!--<logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="DEBUG" />-->
    <!--<logger name="org.hibernate.engine.QueryParameters" level="DEBUG" />-->
    <!--<logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" />-->



    <root level="Error">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING_FILE"/>
    </root>

</configuration>
