<!DOCTYPE html>
<html>
<head>
       
    <meta charset="utf-8">
    </meta>
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
          
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       
    <script src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main121" style="width: 100%;height:400px;"></div>
<div id="bid121" style="width: 100%;height:400px;"></div>
<div id="main122" style="width: 100%;height:400px;"></div>
<div id="bid122" style="width: 100%;height:400px;"></div>
<div id="main123" style="width: 100%;height:400px;"></div>
<div id="bid123" style="width: 100%;height:400px;"></div>
<div id="main124" style="width: 100%;height:400px;"></div>
<div id="bid124" style="width: 100%;height:400px;"></div>
<div id="main132" style="width: 100%;height:400px;"></div>
<div id="bid132" style="width: 100%;height:400px;"></div>
<!--深圳服务器-->
<div id="szmain23" style="width: 100%;height:400px;"></div>
<div id="szbid23" style="width: 100%;height:400px;"></div>
<div id="szmain24" style="width: 100%;height:400px;"></div>
<div id="szbid24" style="width: 100%;height:400px;"></div>
<div id="szmain25" style="width: 100%;height:400px;"></div>
<div id="szbid25" style="width: 100%;height:400px;"></div>









<script type="text/javascript">

    setInterval(function () {
        //请求数据
        $.ajax({
            url: 'http://172.17.129.131:8090/queryRequestCount',
            type: "GET",
            data:{hostAddress:"172.17.129.121"}, //要给后台传的参数
            success: function (res) {
                myChart121(JSON.parse(res))
            }
        })
        $.ajax({
            url: 'http://172.17.129.131:8090/queryRequestCount',
            type: "GET",
            data:{hostAddress:"172.17.129.122"}, //要给后台传的参数
            success: function (res) {
                myChart122(JSON.parse(res))
            }
        })
        $.ajax({
            url: 'http://172.17.129.131:8090/queryRequestCount',
            type: "GET",
            data:{hostAddress:"172.17.129.123"}, //要给后台传的参数
            success: function (res) {
                myChart123(JSON.parse(res))
            }
        })
        $.ajax({
            url: 'http://172.17.129.131:8090/queryRequestCount',
            type: "GET",
            data:{hostAddress:"172.17.129.124"}, //要给后台传的参数
            success: function (res) {
                myChart124(JSON.parse(res))
            }
        })
        $.ajax({
            url: 'http://172.17.129.131:8090/queryRequestCount',
            type: "GET",
            data:{hostAddress:"172.17.129.132"}, //要给后台传的参数
            success: function (res) {
                myChart132(JSON.parse(res))
            }
        })

        //深圳服务器
        $.ajax({
            url: 'http://172.17.129.131:8090/queryRequestCount',
            type: "GET",
            data:{hostAddress:"172.18.16.23"}, //要给后台传的参数
            success: function (res) {
                myChart23(JSON.parse(res))
            }
        })
        $.ajax({
            url: 'http://172.17.129.131:8090/queryRequestCount',
            type: "GET",
            data:{hostAddress:"172.18.16.24"}, //要给后台传的参数
            success: function (res) {
                myChart24(JSON.parse(res))
            }
        })
        $.ajax({
            url: 'http://172.17.129.131:8090/queryRequestCount',
            type: "GET",
            data:{hostAddress:"172.18.16.25"}, //要给后台传的参数
            success: function (res) {
                myChart25(JSON.parse(res))
            }
        })

    // 出手数据

        $.ajax({
            url: 'http://172.17.129.131:8090/queryBidCount',
            type: "GET",
            data:{hostAddress:"172.17.129.121"}, //要给后台传的参数
            success: function (res) {
                mybid121(JSON.parse(res))
            }
        })
        $.ajax({
            url: 'http://172.17.129.131:8090/queryBidCount',
            type: "GET",
            data:{hostAddress:"172.17.129.122"}, //要给后台传的参数
            success: function (res) {
                mybid122(JSON.parse(res))
            }
        })
        $.ajax({
            url: 'http://172.17.129.131:8090/queryBidCount',
            type: "GET",
            data:{hostAddress:"172.17.129.123"}, //要给后台传的参数
            success: function (res) {
                mybid123(JSON.parse(res))
            }
        })
        $.ajax({
            url: 'http://172.17.129.131:8090/queryBidCount',
            type: "GET",
            data:{hostAddress:"172.17.129.124"}, //要给后台传的参数
            success: function (res) {
                mybid124(JSON.parse(res))
            }
        })
        $.ajax({
            url: 'http://172.17.129.131:8090/queryBidCount',
            type: "GET",
            data:{hostAddress:"172.17.129.132"}, //要给后台传的参数
            success: function (res) {
                mybid132(JSON.parse(res))
            }
        })
        //深圳服务器
        $.ajax({
            url: 'http://172.17.129.131:8090/queryBidCount',
            type: "GET",
            data:{hostAddress:"172.18.16.23"}, //要给后台传的参数
            success: function (res) {
                mybid23(JSON.parse(res))
            }
        })
        $.ajax({
            url: 'http://172.17.129.131:8090/queryBidCount',
            type: "GET",
            data:{hostAddress:"172.18.16.24"}, //要给后台传的参数
            success: function (res) {
                mybid24(JSON.parse(res))
            }
        })
        $.ajax({
            url: 'http://172.17.129.131:8090/queryBidCount',
            type: "GET",
            data:{hostAddress:"172.18.16.25"}, //要给后台传的参数
            success: function (res) {
                mybid25(JSON.parse(res))
            }
        })

    }, 10000)

    //请求数据
    function myChart121(params) {
        var myChart = echarts.init(document.getElementById('main121'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控请求数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function myChart122(params) {
        var myChart = echarts.init(document.getElementById('main122'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控请求数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function myChart123(params) {
        var myChart = echarts.init(document.getElementById('main123'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控请求数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function myChart124(params) {
        var myChart = echarts.init(document.getElementById('main124'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控请求数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function myChart132(params) {
        var myChart = echarts.init(document.getElementById('main132'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控请求数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }

    //深圳服务器
    function myChart25(params) {
        var myChart = echarts.init(document.getElementById('szmain25'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控请求数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function myChart23(params) {
        var myChart = echarts.init(document.getElementById('szmain23'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控请求数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function myChart24(params) {
        var myChart = echarts.init(document.getElementById('szmain24'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控请求数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }


    //    出手数据

    function  mybid121(params) {
        var myChart = echarts.init(document.getElementById('bid121'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控出手数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function  mybid122(params) {
        var myChart = echarts.init(document.getElementById('bid122'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控出手数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function  mybid123(params) {
        var myChart = echarts.init(document.getElementById('bid123'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控出手数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function  mybid124(params) {
        var myChart = echarts.init(document.getElementById('bid124'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控出手数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function  mybid132(params) {
        var myChart = echarts.init(document.getElementById('bid132'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控出手数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }

//深圳服务器
    function  mybid25(params) {
        var myChart = echarts.init(document.getElementById('szbid25'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控出手数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function  mybid23(params) {
        var myChart = echarts.init(document.getElementById('szbid23'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控出手数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    function  mybid24(params) {
        var myChart = echarts.init(document.getElementById('szbid24'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '各家adx每分钟监控出手数据',
                // subtext: '纯属虚构'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: params.legend
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
                }
            ],
            yAxis: {},
            series: params.series
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
</script>
</body>
</html>